<% provide(:title, 'Select Location') %>
<h1>Choose Location for Weather Report</h1>
 <label for="location">
	City State (example: New York, NY) 
	<input id="location" list="citystatelist"  onchange="get_location(this)">
	<datalist id="citystatelist" >
  <#% City.distinct.pluck(:state).sort.each do |state|%>
   <% City.order(state: :asc, name: :asc).each do |city|%>
		<option id="<%= city.id %>" value="<%= city.name+", "+city.state %>"></option>
  <% end %>
	</datalist>
</label>
<p id="selected_location"></p>
<script>
var citystateoptions = document.getElementById("citystatelist").options;
function get_location(input_loc) {
   let geo=null;
   for(each of citystateoptions) {
    if (each.value===input_loc.value) { geo=each.id; break;}
   }
   if(geo==null) {
    document.getElementById("selected_location").innerHTML="Select a valid location from the list";
   }
   else {
    document.getElementById("selected_location").innerHTML=input_loc.value+ " "+ geo;
    document.body.innerHTML += `<form id="dynForm" action="/cities/${geo}" method="get"></form>`;
    document.getElementById("dynForm").submit();
   }
}
</script>
