@import "bootstrap-sprockets";
@import "bootstrap";
* {
    font-family: Arial, sans-serif;
  }

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
header {
    margin-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #fcfc58;
    background-color: rgba(232, 224, 103, 0.856);
    color: rgb(6, 6, 6);
  }
  
  header a {
    color: #555;
  }
  
  header a:hover {
    color: rgb(60, 168, 84);
  }
  
  header small {
    float: left;
  }
  
  header ul {
    float: right;
    list-style: none;
  }
  
  header ul li {
    float: left;
    margin-left: 15px;
  }
  
footer {
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #50fd5e;
    background-color: cadetblue;
    color: rgb(249, 249, 249);
  }
  
footer a {
    color: #ffffff;
  }
  
footer a:hover {
    color: rgb(223, 217, 56);
  }
  
footer small {
    float: left;
  }
  
footer ul {
    float: right;
    list-style: none;
  }
  
footer ul li {
    float: left;
    margin-left: 15px;
  }
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
  }
  $gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* Dropdown menu */
.dropdown-menu.active {
  display: block;
}


@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}