@import "bootstrap-sprockets";
@import "bootstrap";
* {
    font-family: Arial, sans-serif;
  }
header {
    margin-bottom: 15px;
    padding-top: 5px;
    border-bottom: 1px solid #fcfc58;
    background-color: rgba(232, 224, 103, 0.856);
    color: rgb(6, 6, 6);
  }
  
  header a {
    color: #555;
  }
  
  header a:hover {
    color: rgb(60, 168, 84);
  }
  
  header small {
    float: left;
  }
  
  header ul {
    float: right;
    list-style: none;
  }
  
  header ul li {
    float: left;
    margin-left: 15px;
  }
  
footer {
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #50fd5e;
    background-color: cadetblue;
    color: rgb(249, 249, 249);
  }
  
footer a {
    color: #ffffff;
  }
  
footer a:hover {
    color: rgb(223, 217, 56);
  }
  
footer small {
    float: left;
  }
  
footer ul {
    float: right;
    list-style: none;
  }
  
footer ul li {
    float: left;
    margin-left: 15px;
  }
  