    <div class="container" style=" background-color: lightsalmon;">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <div class="nav navbar-nav navbar-right">
            <%= link_to "Home",   '#' %></li>
            | <%= link_to "Help",   '#' %></li>
            | <%= link_to "Log in", '#' %></li>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">